@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.roboto {
  font-family: 'Roboto', sans-serif; }

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/woff/JetBrainsMono-Regular.woff") format("woff"), url("../fonts/woff2/JetBrainsMono-Regular.woff2") format("woff2"); }

.jetbrains-mono, body {
  font-family: 'JetBrains Mono'; }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d1117;
  color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
}

.container {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.links {
  width: 300px;
  height: 200px;
  border: 2px solid #0d1117;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#development{
  margin-bottom: 20px;
  color: #f17b0d;
}

#ai {
  margin-bottom: 20px;
  color: #0d83f1;

}

#org {
  margin-bottom: 20px;
  color: #55f10d;

}

.container a {
  margin-bottom: 10px;
}

.main {
  width: 100%;
  text-align: center; 
}

.sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #0d1117,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #0d1117;
  text-shadow: 0 0 0.6rem #2eee08, 0 0 1.5rem #2eee08,
    -0.2rem 0.1rem 1rem #2eee08, 0.2rem 0.1rem 1rem #2eee08,
    0 -0.5rem 2rem #0ab304, 0 0.5rem 3rem #0ab304;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #2eee08, 0 0 1.5rem #2eee08,
    -0.2rem 0.1rem 1rem #2eee08, 0.2rem 0.1rem 1rem #2eee08,
    0 -0.5rem 2rem #0ab304, 0 0.5rem 3rem #0ab304;
  }
  28%,
  33% {
    color: #2eee08;
    text-shadow: none;
  }
  82%,
  97% {
    color: #0ab304;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #2eee08, 0 0 1.5rem #2eee08,
    -0.2rem 0.1rem 1rem #2eee08, 0.2rem 0.1rem 1rem #2eee08,
    0 -0.5rem 2rem #0ab304, 0 0.5rem 3rem #0ab304;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}